[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = git@github.com:balena-os/balena-yocto-scripts.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "layers/meta-freescale"]
	path = layers/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
[submodule "layers/meta-coral"]
	path = layers/meta-coral
	url = https://github.com/mirzak/meta-coral.git
[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
